<div id="<%= dom_id client %>">
  <p>
    <strong>Name:</strong>
    <%= client.name %>
  </p>

  <p>
    <strong>Dob:</strong>
    <%= client.dob %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= client.address %>
  </p>

</div>
